<!DOCTYPE html>
<html>
	<head>
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
	</head>
	<body>
		<script type="text/javascript" src="/bootstrap/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>

			<nav class="navbar navbar-default" style="margin-top:10px;">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						</button>
						<a class="navbar-brand" href="#"><%=  title%></a>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					 
					<%if(isShow){%>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">欢迎,<%= headname%></a></li>
							<li>
								<a href="/loginout" >退出</a>
							</li>
						</ul>
					<%}%>
					</div>
				</div>
			</nav>
	</body>
</html>
